In [ ]:
a = 100
b = 100
c = 100
d = 100

In [ ]:

if id(a) == id(b) == id(c) == id(d):
  print("same id")
else:
  print("differenct id")
print(id(a))
a=200
print(id(a))

same id
135145085521232
135145085524432

In [ ]:
arr_1 = [1,2,3]
arr_2 = [1,2,3]
arr_3 = [1,2,3]
arr_4 = [1,2,3]

In [ ]:

if id(arr_1) == id(arr_2) == id(arr_3) == id(arr_4):
  print("same id")
else:
  print("differenct id")
print(id(arr_1))
arr_1.append(4)
print(id(arr_1))

differenct id
135143804694720
135143804694720

In [ ]:
arr_1 = [1,2,['a','b'],3]
arr_2 = [1,2,['a','b'],3]

print(f'arr_1 id : {id(arr_1)}')
print(f'arr_2 id : {id(arr_2)}')

print(f'arr_1 mutable var id : {id(arr_1[2])}')
print(f'arr_2 mutable var id : {id(arr_2[2])}')

print(f'arr_1 immutable var id : {id(arr_1[0])}')
print(f'arr_2 immutable var id : {id(arr_2[0])}')

print(f'arr_1 immutable var id : {id(arr_1[1])}')
print(f'arr_2 immutable var id : {id(arr_2[1])}')

print(f'arr_1 immutable var id : {id(arr_1[3])}')
print(f'arr_2 immutable var id : {id(arr_2[3])}')

arr_1 id : 135143805889088
arr_2 id : 135143804165312
arr_1 mutable var id : 135143805883136
arr_2 mutable var id : 135143805826496
arr_1 immutable var id : 135145085518064
arr_2 immutable var id : 135145085518064
arr_1 immutable var id : 135145085518096
arr_2 immutable var id : 135145085518096
arr_1 immutable var id : 135145085518128
arr_2 immutable var id : 135145085518128

In [ ]:
arr_1 = [1,2,3]
arr_2 = arr_1

print(f'arr_1 : {arr_1}')
print(f'arr_2 : {arr_2}')

print(f'arr_1 id : {id(arr_1)}')
print(f'arr_2 id : {id(arr_2)}')

arr_2.append(4)
print(f'arr_1 : {arr_1}')
print(f'arr_2 : {arr_2}')

print(f'arr_1 id : {id(arr_1)}')
print(f'arr_2 id : {id(arr_2)}')

arr_1 : [1, 2, 3]
arr_2 : [1, 2, 3]
arr_1 id : 135143804925632
arr_2 id : 135143804925632
arr_1 : [1, 2, 3, 4]
arr_2 : [1, 2, 3, 4]
arr_1 id : 135143804925632
arr_2 id : 135143804925632

In [ ]:
a = 1
b = a

print(f'a : {a}')
print(f'b : {b}')

print(f'a id : {id(a)}')
print(f'b id : {id(b)}')

b += 1
print(f'a : {a}')
print(f'b : {b}')

print(f'a id : {id(a)}')
print(f'b id : {id(b)}')

a : 1
b : 1
a id : 135145085518064
b id : 135145085518064
a : 1
b : 2
a id : 135145085518064
b id : 135145085518096